.header {
  background-image: url("image/background.png");
  height: 650px;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.header .navbar-brand img {
  width: 250px;
}
.header .navbar-toggler {
  background-color: rgb(255, 255, 255);
}
.header .navbar-nav img {
  width: 33px;
  margin: 0 20px;
}
.header .navbar-nav ul li {
  margin: 0 20px;
}
.header .navbar-nav ul li img {
  padding: 0 20px;
}
.header .navbar-nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.header .nav-button .freeTrail {
  padding: 5px 15px;
  background: #EDED3F;
  color: #000;
  border: 1px solid #D0EFF9;
  border-radius: 2px;
  font-size: 14px;
}
.header .nav-button .getDemo {
  padding: 5px 15px;
  background: #0AA1DD;
  color: rgb(255, 255, 255);
  border: 1px solid #D0EFF9;
  border-radius: 2px;
  font-size: 14px;
}
.header .contact-form {
  padding: 30px;
}
.header .contact-form form {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
.header .contact-form form p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.header .contact-form form .form-content {
  border: 1px solid gray;
  padding: 10px;
}
.header .contact-form form .form-content .form-group label {
  font-size: 14px;
}
.header .contact-form form .form-content .form-group .form-control {
  padding: 2px !important;
  background-color: #D0EFF9;
  border: 1px solid #c2c2c2;
}
.header .contact-form form .form-content button {
  text-align: center;
  background-color: #6262D1;
  border: 1.5px solid salmon;
  font-family: Arial, Helvetica, sans-serifs;
  padding: 5px 15px;
  font-weight: 500;
}
.header .header_image img {
  border: 2px solid #fff;
  height: 70vh;
}
@media (max-width: 720px) {
  .header .header_image {
    display: none;
  }
}

.form-group.required .form-label:after {
  content: "*";
  color: red;
}

@media (min-width: 995px) and (max-width: 2048px) {
  .mobile_navbar {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 995px) {
  .web_navbar {
    display: none;
  }
}
.video {
  margin-top: 50px;
}
.video .row .content {
  padding-left: 20px;
}
.video .row .content h3 {
  font-size: 24px;
  font-weight: 400;
  color: #828AD4;
}
.video .row .content p {
  font-size: 18px;
  color: rgb(100, 100, 100);
  font-family: arial;
}
.video .embed-responsive {
  text-align: center;
}
.video .embed-responsive-none {
  display: block;
}
@media (max-width: 1024px) {
  .video .embed-responsive-none {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .video .embed-responsive {
    display: none !important;
  }
}

.activites {
  margin-top: 30px;
  padding: 20px;
  background-color: #F1F6FA;
  box-shadow: 1px 5px 10px #c2c2c2;
  border-radius: 10px;
}
.activites .card {
  background: none;
  border: none;
  text-align: center;
}
.activites .card img {
  width: 50px;
}
.activites .card p {
  font-family: Arial, Helvetica, sans-serifs;
  font-size: 18px;
  font-weight: 300;
  color: #5a5a5a;
}

.Capabilities {
  margin-top: 50px;
}
.Capabilities h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #828AD4;
}
.Capabilities .card {
  margin-top: 20px;
  border: none;
}
.Capabilities .card img {
  width: 60px;
}
.Capabilities .card h5 {
  text-align: center;
  color: #181818;
  font-size: 24px;
}
.Capabilities .card ul {
  text-align: center;
}
.Capabilities .card ul li {
  color: rgb(121, 121, 121);
}

.trail_image img {
  width: 100%;
}

footer {
  background-color: #F0F2F5;
}
footer .footer-class {
  padding: 50px 0;
  background-color: #1E2833;
  border-radius: 0 300px 0 0;
}
footer .logo-section {
  padding: 20px 0;
  border-bottom: 1px solid rgb(116, 116, 116);
  border-width: 100%;
}
footer .logo-section h2 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
footer .logo-section .button a {
  background: #205198;
  color: #fff;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
}
footer .footer-link {
  margin-top: 20px;
  padding-top: 20px;
}
footer .footer-link h2 {
  font-family: Arial;
  font-size: 18px;
  color: sandybrown;
  font-weight: 300;
}
footer .footer-link ul li {
  color: #fff;
  font-size: 16px;
  list-style: none;
  padding: 10px 0;
  margin-left: -10px;
}

@media (min-width: 0px) and (max-width: 995px) {
  footer .footer-class {
    padding: 50px 0;
    background-color: #1E2833;
    border-radius: 0 150px 0 0;
  }
  footer .logo-section {
    padding: 20px 0;
    border-bottom: 1px solid rgb(116, 116, 116);
    border-width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */